@import 'vars';

.buttonGradient {
    color:map-get($map: $colors, $key: light);
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 15px;
    border: none;
    background-image: $gradient;
    box-shadow: 0 5px #ED6F14;
    font: {
        weight: map-get($map:$weights, $key: bold);
        family: $fuentePrincipal;
    }
    &:hover{
        box-shadow: 0 3px #ED6F14;
        top: 5px;
    }
    &:active {
        box-shadow: 0 0 #ED6F14;
        top: 5px;
    }
}

.buttonRetro{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid #000;
    color: #000;
    background: transparent;    
    &:hover:after {
        top: 0;
        left: 0;
    }
    &:after {
        content: "";
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 5px;
        left: 5px;
        transition: 0.2s;
        background-color: map-get($map: $colors, $key: orange);
    }
}

.card{
    background-color: map-get($map: $colors, $key: orange);
    border-radius: 15px;
    padding: 16px;
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.3);
    max-width: 315px;
}

.buttonSlide {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid;
    border-color: map-get($map: $colors, $key: blue);
    color: map-get($map: $colors, $key: blue);
    &:hover {
        color: #fff;
    }
    &:hover:after {
        width: 100%;
    }
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        transition: all 0.3s ease;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: map-get($map: $colors, $key: blue);
    }
}