*{
    margin: 0;
    padding: 0;
}

@import './vars.scss';
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

/* ----------Cuerpo de la página------ */
body { 
    @include bgbody;
    font-family: 'Rubik', sans-serif;
}
/* ------Menú de navegación------ */
.navbar{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    div{
        a img{
            height: 40px;
        }
    }
}
/* --------Contenido Principal----------- */
header{
    background: $light;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );   
}



/* ---------Pie de página -----------*/
footer{
    background-image: $gradientDark;
    color: $bluelight;
    padding-top: 20px;
    font-size: small;
    padding-bottom: 20px;
    text-align: center;
    p{
        margin: 0;
    }
    a{
        text-decoration: none;
        font-weight: $bold;
        color: $bluelight;
        cursor: pointer;
        :hover{
            color:$blue
        }
        i{
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}